body{
    font-family: "Montserrat", sans-serif;

    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main {
    background-image: url(./img/hero-bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.header__nav {
    display: flex;
    justify-content: space-between;
}
.header__wrapper {
    display: flex;
}
.header__box {
    
}
span{
    font-family: "Montserrat", sans-serif;
}
.header__btn {
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 144.444% */
background: none;
padding: 10px 20px;
border-radius: 20px;
}
.btn-main {
    border-radius: 20px;
border: 0.5px solid var(--color-orange, #FC6652);
}
.btn {
    border: none;
}
.header{
    background-image: url(./hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__btns {
    margin-top: 100px;
    display: flex;
    gap: 30px;
}
.hero__btn {
    padding: 20px 50px;
color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 26px; /* 144.444% */
background-color: #FC6652;
border-radius: 100px;
text-align: center;

}
.button {
    background: none;
    border: 1px solid white;
}
.hero__title{
    span{
        color: #FC6652;
    }

color: white;
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 42px; /* 131.25% */
margin-top: 100px;
}
.hero__text{
    color: #B4B4B4;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 133.333% */
}
.hero__btn-text{
    padding-left: 30px;
    padding-right: 30px;
    color: #B6B6B6;
}
.hero__btn{
    img{
        margin-left: 10px;
    }
}
.img{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}
.hero__wrapper{
    display: flex;
}
.talent__title{
    span{
        color: var(--color-orange, #FC6652);
font-family: Raleway;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 72px;
text-transform: uppercase;
    }
    
    text-align: center;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px; /* 112.5% */
    text-transform: uppercase;
    text-align: center;

}
.talent__text{
    color: var(--color-light-grey, #555);

/* desk / h2 */
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 42px; /* 131.25% */

margin-top: 100px;
}
.main{
    padding-left: 100px;
    padding-right: 100px;
}
.talent{
    padding-left: 100px;
    padding-right: 100px;
}
.talent__img{
    width: 800px;
}
.talent__wrapper{
    display: flex;
}
.mini__img-box{
    margin-left: 50px;
    flex-direction: column;
    width: max-content;
    display: flex;
}
.mini__img{
   width: 150px;
   margin-top: 10px;
   margin-bottom: 10px;
}
.img1{
    margin-top: none;
}
.info{
    margin-top: 200px;
    padding-left: 100px;
    padding-right: 100px;
}
.info__title{
    color: var(--color-grey, #494947);

/* desk / h2 */
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 42px; /* 131.25% */
}
.info__wrapper{
    display: flex;
}
.info__text-box{
    margin-left: 250px;
}
.info__text{
    margin-top: 20px;
}
.info__btn{
    text-align: center;
    color: var(--color-white, #FFF);
text-align: center;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
border-radius: 100px;
background: var(--color-orange, #FC6652);
box-shadow: 0px 20px 30px 0px rgba(66, 44, 34, 0.33);
width: 300px;
margin-top: 10px;
border: none;
}
.info__btn-text{
   
}
.laptops{
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

.container {
}
.laptop__title {
    color: var(--color-light-grey, #555);

/* desk / h2 */
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 42px; /* 131.25% */
}
.laptop__wrapper {
    display: flex;
    margin-left: 125px;
    margin-top: 50px;
}
.laptop__box-wrapper {
}
.box1 {
}
.laptop__box {
    border-radius: 20px;
background: #FFF;
box-shadow: 0px 0px 20px 0px rgba(67, 45, 36, 0.25);
display: flex;
width: max-content;
margin-top: 30px;
margin-left: 50px;
margin-right: 50px;
}
.laptop__img {
}
.laptop__box-text{
    padding: 15px;
}
.plan{
    border-radius: 20px;
    background: rgb(2,0,38);
    background: rgb(2,0,38);
    background: linear-gradient(90deg, rgba(2,0,38,1) 0%, rgba(0,0,0,1) 48%, rgba(11,72,85,1) 100%); 48%, rgba(11,72,85,1) 100%);
box-shadow: 0px 10px 20px 0px rgba(55, 46, 43, 0.16), 0px 0px 20px 0px rgba(140, 140, 140, 0.35);
color: white;
width: 1200px;
flex-shrink: 0;
display: flex;
justify-content: space-between;
margin-top: 50px;
}
.plan__text{
    padding: 15px;
}
.eyes__title{
    color: var(--color-white, #FFF);

/* desk / h2 */
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 42px; /* 131.25% */
}
.eyes{
   margin-top: 100px;
   background-color: black; 
   padding-left: 100px;
   padding-right:  100px;
}
.eyes__text{
    color: var(--color-light_grey, #C4C4C4);

/* desk / h3 */
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 133.333% */
margin-top: 10px;
margin-bottom: 10px;
}
.eyes__wrapper{
    display: flex;
}
.eyes__img{
    margin-left: 100px;
}
.exclusive{
    margin-top: 100px;
   background-color: black; 
   padding-left: 100px;
   padding-right:  100px;
}
span{
    color: #FC6652;
text-align: center;
font-family: Montserrat;
font-size: 38.611px;
font-style: normal;
font-weight: 800;
line-height: 19.68px; /* 50.969% */
text-transform: uppercase;

}
.exclusive__wrapper{
    display: flex;
}
.exclusive__title{
    color: var(--color-white, #FFF);

/* desk / h2 */
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 42px; /* 131.25% */
margin-top: 20px;
margin-bottom: 10px;
}
.exclusive__text{
    color: #C4C4C4;

/* desk / h3 */
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 133.333% */
margin-bottom: 10px;
}
.exclusive__box-text{
    margin-left: 200px;
    margin-top: 20px;
}
.exclusive__box-img{
    margin-top: 20px;
}
.new{
    margin-top: 100px;
   background-color: black; 
   padding-left: 100px;
   padding-right:  100px;
   padding-top: 20px;
}
.new__wrapper{
    display: flex;
}
.new__box-img{
    margin-left: 200px;
}
.final{
    margin-top: 100px;
   background-color: black; 
   padding-left: 100px;
   padding-right:  100px;
   padding-top: 20px;
}
.title__final{
    margin-top: 20px;
}
.final__img{
    width: 1200px;
    margin-left: 50px;
}
button{
    display: flex;
    gap: 10px;
    align-items: center;
}


@media(max-width:500px) {
    .header__nav{
        flex-direction: column;
    }
    .hero__wrapper{
        flex-direction: column;
    }
    .hero__img{
        width: 300px;
    } 
    
}