* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(https://3dlancer.net/upload/modelimages/87/12087/texture-seamless-texture-of-grass-63755-xxl.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card {
    border: 1px solid black;

    gap: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.498);

    img {
        width: 90%;
        /* box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.498); */

        filter: drop-shadow(rgba(0, 0, 0, 0.7) 1px 1px 20px);
    }

    &::before {
        content: '';
        width: 120px;
        height: 120px;
        background-image: url(https://barber-xplo.vercel.app/img/case-after.png);
        background-repeat: no-repeat;
        background-size: cover;
        animation: rotate 5s infinite linear;
        position: absolute;
        top: 0;
        right: 0;
        /* z-index: 3; */
    }

}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.rotate {
    animation: rotate 8s infinite linear;
}

@keyframes rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @media (max-width:900px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width:700px) {
        grid-template-columns: repeat (2, 1fr);
    }

    @media (max-width:400px) {
        grid-template-columns: repeat(1, 1fr);
    }
}


.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    object-fit: cover;
}